This notebook combines our cleaned data.
US Stations is from US Linear Relative Sea Level Trends
Storms is from the Natural Disasters data and contains the US storm information

In [19]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os

usstations = pd.read_excel('data/usstations.xlsx')
beach = pd.read_excel('data/beach_nourishment_PSDS.xlsx')
global_sea_levels = pd.read_excel('data/gmsl.xlsx')
storms = pd.read_excel('data/cleanusstorms.xlsx')
climate = pd.read_excel('data/climate.xlsx')

In [20]:
print(usstations.head(5))

   Station ID    Station Name  First Year  Last Year  Year Range  \
0     1611400  Nawiliwili, HI        1955       2023          69
1     1612340    Honolulu, HI        1905       2023         119
2     1612480    Mokuoloe, HI        1957       2023          67
3     1615680     Kahului, HI        1947       2023          77
4     1617433    Kawaihae, HI        1988       2023          36

   Percent Complete  MSL Trends mm per yr  plus minus CI mm yr   \
0               100                  1.79                  0.39
1               100                  1.54                  0.20
2                84                  1.66                  0.49
3                96                  2.21                  0.37
4                92                  3.55                  1.05

   MSL Trend ft per century  95 CI ft century  Latitude  Longitude  \
0                      0.59              0.13   21.9544  -159.3561
1                      0.51              0.07   21.3033  -157.8645
2                      0.55              0.16   21.4331  -157.7900
3                      0.73              0.12   20.8949  -156.4690
4                      1.16              0.34   20.0366  -155.8294

         City State
0  Nawiliwili    HI
1    Honolulu    HI
2    Mokuoloe    HI
3     Kahului    HI
4    Kawaihae    HI

In [21]:
print(beach.head(5))

   ID State         Location  Year Completed Primary Funding Source  \
0   5    AL  Sand Island Bar            1987                Federal
1   8    AL      Perdido Key            1986                Federal
2  11    AL  Sand Island Bar            1988                Federal
3  17    AL      Gulf Shores            2001                  Local
4  20    AL  Sand Island Bar            1988                Federal

      Justification  Length (ft)  Volume (CY)  Total Cost  Year Completed CPI  \
0     Demonstration         6000       464000           0               114.0
1        Navigation            0       660000     1406977               110.0
2     Demonstration          500         1400       60000               118.0
3  Shore Protection        16000      1800000     6000000               177.0
4     Demonstration        10560      2000000     2000000               118.0

   Adjusted Cost (2022)  Total Cost/CY  Adjusted Cost/CY    CY/Foot  \
0                  0.00           0.00              0.00      77.33
1            3743837.89           2.13              5.67  660000.00
2             148830.51          42.86            106.31       2.80
3            9922033.90           3.33              5.51     112.50
4            4961016.95           1.00              2.48     189.39

   Current CPI Other Info                                     Source Comment
0        292.7        NaN  http://www.wes.army.mil/el/dots/budm/facts/san...
1        292.7        NaN                                                138
2        292.7        NaN       http://www.southalabama.edu/cesrp/hbeach.htm
3        292.7        NaN  http://www.weartv.com/news/Stories/may/0503/05...
4        292.7        NaN  http://www.weartv.com/news/Stories/may/0503/05...

In [22]:
print(global_sea_levels.head(5))

        Time   GMSL  GMSL uncertainty  Year
0 1880-01-15 -183.0              24.2  1880
1 1880-02-15 -171.1              24.2  1880
2 1880-03-15 -164.3              24.2  1880
3 1880-04-15 -158.2              24.2  1880
4 1880-05-15 -158.7              24.2  1880

In [23]:
print(storms.head(5))

   Year Disaster Group Disaster Subgroup Disaster Type  Disaster Subtype  \
0  1900        Natural    Meteorological         Storm  Tropical cyclone
1  1903        Natural    Meteorological         Storm  Convective storm
2  1906        Natural    Meteorological         Storm  Tropical cyclone
3  1906        Natural    Meteorological         Storm  Tropical cyclone
4  1909        Natural    Meteorological         Storm  Tropical cyclone

  Disaster Subsubtype Event Name                         Country  ISO  \
0                 NaN        NaN  United States of America (the)  USA
1             Tornado        NaN  United States of America (the)  USA
2                 NaN        NaN  United States of America (the)  USA
3                 NaN        NaN  United States of America (the)  USA
4                 NaN        NaN  United States of America (the)  USA

             Region  ... Start Year Start Month  Start Day End Year  \
0  Northern America  ...       1900         9.0        8.0     1900
1  Northern America  ...       1903         NaN        NaN     1903
2  Northern America  ...       1906         NaN        NaN     1906
3  Northern America  ...       1906         NaN        NaN     1906
4  Northern America  ...       1909         NaN        NaN     1909

   End Month  End Day  Total Deaths  Total Damages ('000 US$)       CPI  \
0        9.0      8.0        6000.0                   30000.0  3.221647
1        NaN      NaN          98.0                       NaN  3.479379
2        NaN      NaN         164.0                       NaN  3.479379
3        NaN      NaN         134.0                       NaN  3.479379
4        NaN      NaN         350.0                       NaN  3.479379

   State_Abbreviations
0                   TX
1                   GA
2                   FL
3           AL, FL, MS
4                   LA

[5 rows x 24 columns]

In [24]:
print(climate.head(5))

                     Date          Location        Country  Temperature  \
0 2000-01-01 00:00:00.000   New Williamtown         Latvia    10.688986
1 2000-01-01 20:09:43.258      North Rachel   South Africa    13.814430
2 2000-01-02 16:19:26.517  West Williamland  French Guiana    27.323718
3 2000-01-03 12:29:09.775       South David        Vietnam    12.309581
4 2000-01-04 08:38:53.033    New Scottburgh        Moldova    13.210885

   CO2_Emissions  Sea_Level_Rise  Precipitation   Humidity  Wind_Speed  Year
0     403.118903        0.717506      13.835237  23.631256   18.492026  2000
1     396.663499        1.205715      40.974084  43.982946   34.249300  2000
2     451.553155       -0.160783      42.697931  96.652600   34.124261  2000
3     422.404983       -0.475931       5.193341  47.467938    8.554563  2000
4     410.472999        1.135757      78.695280  61.789672    8.001164  2000

In [25]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10000 non-null  datetime64[ns]
 1   Location        10000 non-null  object
 2   Country         10000 non-null  object
 3   Temperature     10000 non-null  float64
 4   CO2_Emissions   10000 non-null  float64
 5   Sea_Level_Rise  10000 non-null  float64
 6   Precipitation   10000 non-null  float64
 7   Humidity        10000 non-null  float64
 8   Wind_Speed      10000 non-null  float64
 9   Year            10000 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 781.4+ KB

In [26]:
beachlevels = pd.merge(beach, usstations, on='State', how='outer') 
print(beachlevels.head(5))

   ID State Location  Year Completed Primary Funding Source Justification  \
0 NaN    AK      NaN             NaN                    NaN           NaN
1 NaN    AK      NaN             NaN                    NaN           NaN
2 NaN    AK      NaN             NaN                    NaN           NaN
3 NaN    AK      NaN             NaN                    NaN           NaN
4 NaN    AK      NaN             NaN                    NaN           NaN

   Length (ft)  Volume (CY)  Total Cost  Year Completed CPI  ...  Last Year  \
0          NaN          NaN         NaN                 NaN  ...       2023
1          NaN          NaN         NaN                 NaN  ...       2023
2          NaN          NaN         NaN                 NaN  ...       2023
3          NaN          NaN         NaN                 NaN  ...       2023
4          NaN          NaN         NaN                 NaN  ...       2023

   Year Range  Percent Complete  MSL Trends mm per yr  plus minus CI mm yr   \
0         105                99                 -0.36                  0.20
1         100                88                 -2.45                  0.25
2          88                97                -13.43                  0.31
3          80                84                -18.04                  0.46
4          36                98                -15.43                  1.04

  MSL Trend ft per century 95 CI ft century  Latitude Longitude       City
0                    -0.12             0.07   55.3319 -131.6261  Ketchikan
1                    -0.80             0.08   57.0517 -135.3420      Sitka
2                    -4.41             0.10   58.2988 -134.4106     Juneau
3                    -5.92             0.15   59.4508 -135.3280    Skagway
4                    -5.06             0.34   59.5483 -139.7331    Yakutat

[5 rows x 30 columns]

In [27]:
beachlevels.info()
beachlevels.to_excel('data/beachlevels.xlsx')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23453 entries, 0 to 23452
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        23411 non-null  float64
 1   State                     23453 non-null  object
 2   Location                  23411 non-null  object
 3   Year Completed            23411 non-null  float64
 4   Primary Funding Source    23375 non-null  object
 5   Justification             23411 non-null  object
 6   Length (ft)               23411 non-null  float64
 7   Volume (CY)               23411 non-null  float64
 8   Total Cost                23411 non-null  float64
 9   Year Completed CPI        23411 non-null  float64
 10  Adjusted Cost (2022)      23411 non-null  float64
 11  Total Cost/CY             23411 non-null  float64
 12  Adjusted Cost/CY          23411 non-null  float64
 13  CY/Foot                   23411 non-null  float64
 14  Current CPI               23411 non-null  float64
 15  Other Info                1148 non-null   object
 16  Source Comment            10155 non-null  object
 17  Station ID                23453 non-null  int64
 18  Station Name              23453 non-null  object
 19  First Year                23453 non-null  int64
 20  Last Year                 23453 non-null  int64
 21  Year Range                23453 non-null  int64
 22  Percent Complete          23453 non-null  int64
 23  MSL Trends mm per yr      23453 non-null  float64
 24  plus minus CI mm yr       23453 non-null  float64
 25  MSL Trend ft per century  23453 non-null  float64
 26  95 CI ft century          23453 non-null  float64
 27  Latitude                  23453 non-null  float64
 28  Longitude                 23453 non-null  float64
 29  City                      23453 non-null  object
dtypes: float64(17), int64(5), object(8)
memory usage: 5.4+ MB

In [28]:
globalclimate = pd.merge(climate, global_sea_levels, on='Year', how='outer')
print(globalclimate.head(5))

  Date Location Country  Temperature  CO2_Emissions  Sea_Level_Rise  \
0  NaT      NaN     NaN          NaN            NaN             NaN
1  NaT      NaN     NaN          NaN            NaN             NaN
2  NaT      NaN     NaN          NaN            NaN             NaN
3  NaT      NaN     NaN          NaN            NaN             NaN
4  NaT      NaN     NaN          NaN            NaN             NaN

   Precipitation  Humidity  Wind_Speed  Year       Time   GMSL  \
0            NaN       NaN         NaN  1880 1880-01-15 -183.0
1            NaN       NaN         NaN  1880 1880-02-15 -171.1
2            NaN       NaN         NaN  1880 1880-03-15 -164.3
3            NaN       NaN         NaN  1880 1880-04-15 -158.2
4            NaN       NaN         NaN  1880 1880-05-15 -158.7

   GMSL uncertainty
0              24.2
1              24.2
2              24.2
3              24.2
4              24.2

In [29]:
beachstorms = pd.merge(beach, storms, left_on='Year Completed', right_on='Year', how='outer')
beachstorms.to_excel('data/beachstorms.xlsx')
print(beachstorms.head(5))

   ID State Location_x  Year Completed Primary Funding Source Justification  \
0 NaN   NaN        NaN             NaN                    NaN           NaN
1 NaN   NaN        NaN             NaN                    NaN           NaN
2 NaN   NaN        NaN             NaN                    NaN           NaN
3 NaN   NaN        NaN             NaN                    NaN           NaN
4 NaN   NaN        NaN             NaN                    NaN           NaN

   Length (ft)  Volume (CY)  Total Cost  Year Completed CPI  ...  Start Year  \
0          NaN          NaN         NaN                 NaN  ...      1900.0
1          NaN          NaN         NaN                 NaN  ...      1903.0
2          NaN          NaN         NaN                 NaN  ...      1906.0
3          NaN          NaN         NaN                 NaN  ...      1906.0
4          NaN          NaN         NaN                 NaN  ...      1909.0

   Start Month  Start Day  End Year  End Month End Day Total Deaths  \
0          9.0        8.0    1900.0        9.0     8.0       6000.0
1          NaN        NaN    1903.0        NaN     NaN         98.0
2          NaN        NaN    1906.0        NaN     NaN        164.0
3          NaN        NaN    1906.0        NaN     NaN        134.0
4          NaN        NaN    1909.0        NaN     NaN        350.0

   Total Damages ('000 US$)       CPI State_Abbreviations
0                   30000.0  3.221647                  TX
1                       NaN  3.479379                  GA
2                       NaN  3.479379                  FL
3                       NaN  3.479379          AL, FL, MS
4                       NaN  3.479379                  LA

[5 rows x 41 columns]