This notebook combines our cleaned data.

In [9]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os

usstations = pd.read_excel('data/usstations.xlsx')
beach = pd.read_excel('data/beach_nourishment_PSDS.xlsx')
global_sea_levels = pd.read_excel('data/gmsl.xlsx')
storms = pd.read_excel('data/cleanusstorms.xlsx')

In [10]:
usstations

,Station ID,Station Name,First Year,Last Year,Year Range,Percent Complete,MSL Trends mm per yr,plus minus CI mm yr,MSL Trend ft per century,95 CI ft century,Latitude,Longitude,City,State
0,1611400,"Nawiliwili, HI",1955-01-01,2023-01-01,69,100,1.79,0.39,0.59,0.13,21.9544,-159.3561,Nawiliwili,HI
1,1612340,"Honolulu, HI",1905-01-01,2023-01-01,119,100,1.54,0.20,0.51,0.07,21.3033,-157.8645,Honolulu,HI
2,1612480,"Mokuoloe, HI",1957-01-01,2023-01-01,67,84,1.66,0.49,0.55,0.16,21.4331,-157.7900,Mokuoloe,HI
3,1615680,"Kahului, HI",1947-01-01,2023-01-01,77,96,2.21,0.37,0.73,0.12,20.8949,-156.4690,Kahului,HI
4,1617433,"Kawaihae, HI",1988-01-01,2023-01-01,36,92,3.55,1.05,1.16,0.34,20.0366,-155.8294,Kawaihae,HI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,9497645,"Prudhoe Bay, AK",1988-01-01,2023-01-01,36,97,3.72,1.31,1.22,0.43,70.4114,-148.5317,Prudhoe Bay,AK
141,9751401,"Lime Tree Bay, VI",1977-01-01,2023-01-01,47,89,2.69,0.56,0.88,0.18,17.6947,-64.7538,Lime Tree Bay,VI
142,9751639,"Charlotte Amalie, VI",1975-01-01,2023-01-01,49,91,2.16,0.51,0.71,0.17,18.3306,-64.9258,Charlotte Amalie,VI
143,9755371,"San Juan, PR",1962-01-01,2023-01-01,62,93,2.14,0.34,0.70,0.11,18.4589,-66.1164,San Juan,PR
144,9759110,"Magueyes Island, PR",1955-01-01,2023-01-01,69,96,2.01,0.28,0.66,0.09,17.9701,-67.0464,Magueyes Island,PR

In [11]:
beach

,ID,State,Location,Year Completed,Primary Funding Source,Justification,Length (ft),Volume (CY),Total Cost,Year Completed CPI,Adjusted Cost (2022),Total Cost/CY,Adjusted Cost/CY,CY/Foot,Current CPI,Other Info,Source Comment
0,5,AL,Sand Island Bar,1987,Federal,Demonstration,6000,464000,0,114.0,0.00,0.00,0.00,77.33,292.7,NaN,http://www.wes.army.mil/el/dots/budm/facts/san...
1,8,AL,Perdido Key,1986,Federal,Navigation,0,660000,1406977,110.0,3743837.89,2.13,5.67,660000.00,292.7,NaN,138
2,11,AL,Sand Island Bar,1988,Federal,Demonstration,500,1400,60000,118.0,148830.51,42.86,106.31,2.80,292.7,NaN,http://www.southalabama.edu/cesrp/hbeach.htm
3,17,AL,Gulf Shores,2001,Local,Shore Protection,16000,1800000,6000000,177.0,9922033.90,3.33,5.51,112.50,292.7,NaN,http://www.weartv.com/news/Stories/may/0503/05...
4,20,AL,Sand Island Bar,1988,Federal,Demonstration,10560,2000000,2000000,118.0,4961016.95,1.00,2.48,189.39,292.7,NaN,http://www.weartv.com/news/Stories/may/0503/05...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454,6810,CA,"Goleta Beach, Santa Barbara County",2017,Local,Shore Protection,0,6000,65000,245.1,77623.42,10.83,12.94,6000.00,292.7,NaN,https://www.noozhawk.com/county_moving_sand_go...
2455,6811,CA,"Goleta Beach, Santa Barbara County",2010,Local,Shore Protection,4200,50000,1600000,218.1,2147271.89,32.00,42.95,11.90,292.7,NaN,https://coastalcare.org/2010/07/goleta-beach-c...
2456,6812,CA,"Newport Beach, Orange County",2009,Local,Shore Protection,0,120000,0,214.5,0.00,0.00,0.00,120000.00,292.7,NaN,https://www.surfline.com/templates/article_htm...
2457,6813,CA,"Surfside/Sunset Beach, Orange County",2009,Federal,Shore Protection,0,1750000,12000000,214.5,16374825.17,6.86,9.36,1750000.00,292.7,NaN,https://www.spl.usace.army.mil/Portals/17/docs...
2458,6814,CA,"Morro Bay, San Luis Obispo",2017,Federal,Shore Protection,0,994000,0,245.1,0.00,0.00,0.00,994000.00,292.7,NaN,https://scholarworks.calstate.edu/downloads/rv...

In [12]:
global_sea_levels

           Time   GMSL  GMSL uncertainty  year
0    1880-01-15 -183.0              24.2  1880
1    1880-02-15 -171.1              24.2  1880
2    1880-03-15 -164.3              24.2  1880
3    1880-04-15 -158.2              24.2  1880
4    1880-05-15 -158.7              24.2  1880
...         ...    ...               ...   ...
1603 2013-08-15   71.6               8.8  2013
1604 2013-09-15   68.8               8.8  2013
1605 2013-10-15   66.4               8.9  2013
1606 2013-11-15   59.7               9.0  2013
1607 2013-12-15   58.5               9.0  2013

[1608 rows x 4 columns]

In [13]:
storms

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,Region,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,State_Abbreviations
0,1900,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,United States of America (the),USA,Northern America,...,8.0,6000.0,NaN,NaN,NaN,NaN,NaN,30000.0,3.221647,TX
1,1903,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,United States of America (the),USA,Northern America,...,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,3.479379,GA
2,1906,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,United States of America (the),USA,Northern America,...,NaN,164.0,NaN,NaN,NaN,NaN,NaN,NaN,3.479379,FL
3,1906,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,United States of America (the),USA,Northern America,...,NaN,134.0,NaN,NaN,NaN,NaN,NaN,NaN,3.479379,"AL, FL, MS"
4,1909,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,United States of America (the),USA,Northern America,...,NaN,350.0,NaN,NaN,NaN,NaN,NaN,NaN,3.479379,LA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,2021,Natural,Meteorological,Storm,Tropical cyclone,NaN,Hurricane 'Elsa',United States of America (the),USA,Northern America,...,9.0,1.0,9.0,NaN,NaN,9.0,NaN,775000.0,NaN,"CA, FL, GA"
680,2021,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical depression 'Henri',United States of America (the),USA,Northern America,...,25.0,NaN,NaN,86.0,NaN,86.0,NaN,550000.0,NaN,"CT, NJ, NY, VT"
681,2021,Natural,Meteorological,Storm,Tropical cyclone,NaN,Tropical storm 'Ida',United States of America (the),USA,Northern America,...,2.0,77.0,NaN,NaN,NaN,NaN,NaN,10000000.0,NaN,"CT, LA, MD, NJ, NY, PA, VA"
682,2021,Natural,Meteorological,Storm,Convective storm,Severe storm,NaN,United States of America (the),USA,Northern America,...,15.0,13.0,NaN,NaN,NaN,NaN,NaN,215000.0,NaN,"Gulf Coast, LA"
683,2021,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,United States of America (the),USA,Northern America,...,18.0,NaN,2.0,90.0,NaN,92.0,NaN,500000.0,NaN,"AL, LA, MS"

In [14]:
data = [usstations, beach, global_sea_levels, storms]
df = pd.concat(data, axis=1, join='inner')

df.head

<bound method NDFrame.head of      Station ID          Station Name First Year  Last Year  Year Range  \
0       1611400        Nawiliwili, HI 1955-01-01 2023-01-01          69
1       1612340          Honolulu, HI 1905-01-01 2023-01-01         119
2       1612480          Mokuoloe, HI 1957-01-01 2023-01-01          67
3       1615680           Kahului, HI 1947-01-01 2023-01-01          77
4       1617433          Kawaihae, HI 1988-01-01 2023-01-01          36
..          ...                   ...        ...        ...         ...
140     9497645       Prudhoe Bay, AK 1988-01-01 2023-01-01          36
141     9751401     Lime Tree Bay, VI 1977-01-01 2023-01-01          47
142     9751639  Charlotte Amalie, VI 1975-01-01 2023-01-01          49
143     9755371          San Juan, PR 1962-01-01 2023-01-01          62
144     9759110   Magueyes Island, PR 1955-01-01 2023-01-01          69

     Percent Complete  MSL Trends mm per yr  plus minus CI mm yr   \
0                 100                  1.79                  0.39
1                 100                  1.54                  0.20
2                  84                  1.66                  0.49
3                  96                  2.21                  0.37
4                  92                  3.55                  1.05
..                ...                   ...                   ...
140                97                  3.72                  1.31
141                89                  2.69                  0.56
142                91                  2.16                  0.51
143                93                  2.14                  0.34
144                96                  2.01                  0.28

     MSL Trend ft per century  95 CI ft century  ...  End Day  Total Deaths  \
0                        0.59              0.13  ...      8.0        6000.0
1                        0.51              0.07  ...      NaN          98.0
2                        0.55              0.16  ...      NaN         164.0
3                        0.73              0.12  ...      NaN         134.0
4                        1.16              0.34  ...      NaN         350.0
..                        ...               ...  ...      ...           ...
140                      1.22              0.43  ...      NaN          31.0
141                      0.88              0.18  ...     12.0          56.0
142                      0.71              0.17  ...     27.0          80.0
143                      0.70              0.11  ...     13.0           NaN
144                      0.66              0.09  ...      NaN         328.0

    No Injured No Affected  No Homeless Total Affected  \
0          NaN         NaN          NaN            NaN
1          NaN         NaN          NaN            NaN
2          NaN         NaN          NaN            NaN
3          NaN         NaN          NaN            NaN
4          NaN         NaN          NaN            NaN
..         ...         ...          ...            ...
140        NaN         NaN       6000.0         6000.0
141        NaN         NaN          NaN            NaN
142      600.0         NaN          NaN          600.0
143        NaN         NaN          NaN            NaN
144        NaN         NaN          NaN            NaN

    Insured Damages ('000 US$)  Total Damages ('000 US$)        CPI  \
0                          NaN                   30000.0   3.221647
1                          NaN                       NaN   3.479379
2                          NaN                       NaN   3.479379
3                          NaN                       NaN   3.479379
4                          NaN                       NaN   3.479379
..                         ...                       ...        ...
140                        NaN                       NaN  38.483651
141                        NaN                       NaN  38.483651
142                        NaN                  728600.0  40.138660
143                   280000.0                  600000.0  40.138660
144                        NaN                 1000000.0  40.138660

    State_Abbreviations
0                    TX
1                    GA
2                    FL
3            AL, FL, MS
4                    LA
..                  ...
140                 NaN
141              OK, TX
142                 NaN
143                  CO
144                  MT

[145 rows x 71 columns]>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 71 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Station ID                  145 non-null    int64
 1   Station Name                145 non-null    object
 2   First Year                  145 non-null    datetime64[ns]
 3   Last Year                   145 non-null    datetime64[ns]
 4   Year Range                  145 non-null    int64
 5   Percent Complete            145 non-null    int64
 6   MSL Trends mm per yr        145 non-null    float64
 7   plus minus CI mm yr         145 non-null    float64
 8   MSL Trend ft per century    145 non-null    float64
 9   95 CI ft century            145 non-null    float64
 10  Latitude                    145 non-null    float64
 11  Longitude                   145 non-null    float64
 12  City                        145 non-null    object
 13  State                       145 non-null    object
 14  ID                          145 non-null    int64
 15  State                       145 non-null    object
 16  Location                    145 non-null    object
 17  Year Completed              145 non-null    int64
 18  Primary Funding Source      145 non-null    object
 19  Justification               145 non-null    object
 20  Length (ft)                 145 non-null    int64
 21  Volume (CY)                 145 non-null    int64
 22  Total Cost                  145 non-null    int64
 23  Year Completed CPI          145 non-null    float64
 24  Adjusted Cost (2022)        145 non-null    float64
 25  Total Cost/CY               145 non-null    float64
 26  Adjusted Cost/CY            145 non-null    float64
 27  CY/Foot                     145 non-null    float64
 28  Current CPI                 145 non-null    float64
 29  Other Info                  0 non-null      object
 30  Source Comment              27 non-null     object
 31  Time                        145 non-null    datetime64[ns]
 32  GMSL                        145 non-null    float64
 33  GMSL uncertainty            145 non-null    float64
 34  year                        145 non-null    int64
 35  Year                        145 non-null    int64
 36  Disaster Group              145 non-null    object
 37  Disaster Subgroup           145 non-null    object
 38  Disaster Type               145 non-null    object
 39  Disaster Subtype            65 non-null     object
 40  Disaster Subsubtype         23 non-null     object
 41  Event Name                  17 non-null     object
 42  Country                     145 non-null    object
 43  ISO                         145 non-null    object
 44  Region                      145 non-null    object
 45  Continent                   145 non-null    object
 46  Location                    83 non-null     object
 47  Associated Dis              2 non-null      object
 48  Associated Dis2             0 non-null      object
 49  OFDA Response               0 non-null      float64
 50  Dis Mag Value               25 non-null     float64
 51  Dis Mag Scale               145 non-null    object
 52  Latitude                    0 non-null      float64
 53  Longitude                   0 non-null      float64
 54  Local Time                  0 non-null      float64
 55  River Basin                 0 non-null      object
 56  Start Year                  145 non-null    int64
 57  Start Month                 129 non-null    float64
 58  Start Day                   47 non-null     float64
 59  End Year                    145 non-null    int64
 60  End Month                   129 non-null    float64
 61  End Day                     47 non-null     float64
 62  Total Deaths                140 non-null    float64
 63  No Injured                  6 non-null      float64
 64  No Affected                 5 non-null      float64
 65  No Homeless                 4 non-null      float64
 66  Total Affected              13 non-null     float64
 67  Insured Damages ('000 US$)  1 non-null      float64
 68  Total Damages ('000 US$)    59 non-null     float64
 69  CPI                         145 non-null    float64
 70  State_Abbreviations         62 non-null     object
dtypes: datetime64[ns](3), float64(31), int64(12), object(25)
memory usage: 80.6+ KB

In [17]:
column_name = df.columns.tolist()
print(column_name)

with open('column_names.txt', 'w') as file:
    for column in column_name: file.write(column + '\n')

['Station ID', 'Station Name', 'First Year', 'Last Year', 'Year Range', 'Percent Complete', 'MSL Trends mm per yr', 'plus minus CI mm yr ', 'MSL Trend ft per century', '95 CI ft century', 'Latitude', 'Longitude', 'City', 'State', 'ID', 'State', 'Location', 'Year Completed', 'Primary Funding Source', 'Justification', 'Length (ft)', 'Volume (CY)', 'Total Cost', 'Year Completed CPI', 'Adjusted Cost (2022)', 'Total Cost/CY', 'Adjusted Cost/CY', 'CY/Foot', 'Current CPI', 'Other Info', 'Source Comment', 'Time', 'GMSL', 'GMSL uncertainty', 'year', 'Year', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype', 'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location', 'Associated Dis', 'Associated Dis2', 'OFDA Response', 'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless', 'Total Affected', "Insured Damages ('000 US$)", "Total Damages ('000 US$)", 'CPI', 'State_Abbreviations']