# Worldwide Natural Disasters from 1900 - 2021
---
Initial exploration and cleaning to get tropical storms in the US.

In [14]:
import pandas as pd 
import re
import numpy as np 
import matplotlib.pyplot as plt  

import plotly.express as px
import os

df = pd.read_csv('data/disasters_1900_2021.csv')

#drop columns
df.drop(['Seq', 'Glide', 'Origin', 'Appeal', 'Declaration', 'Aid Contribution', 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations', 'Associated Dis', 'Associated Dis2', 'OFDA Response', 'Latitude', 'Longitude', 'Local Time', 'River Basin', 'No Injured', 'No Affected', 'No Homeless', 'Total Affected', "Insured Damages ('000 US$)"], axis=1, inplace=True)


print(df)

       Year Disaster Group Disaster Subgroup      Disaster Type  \
0      1900        Natural    Climatological            Drought
1      1900        Natural    Climatological            Drought
2      1902        Natural       Geophysical         Earthquake
3      1902        Natural       Geophysical  Volcanic activity
4      1902        Natural       Geophysical  Volcanic activity
...     ...            ...               ...                ...
16121  2021        Natural      Hydrological              Flood
16122  2021        Natural      Hydrological              Flood
16123  2021        Natural        Biological           Epidemic
16124  2021        Natural      Hydrological              Flood
16125  2021        Natural      Hydrological              Flood

      Disaster Subtype Disaster Subsubtype   Event Name  \
0              Drought                 NaN          NaN
1              Drought                 NaN          NaN
2      Ground movement                 NaN          NaN
3             Ash fall                 NaN  Santa Maria
4             Ash fall                 NaN  Santa Maria
...                ...                 ...          ...
16121              NaN                 NaN          NaN
16122              NaN                 NaN          NaN
16123    Viral disease                 NaN   Meningitis
16124              NaN                 NaN          NaN
16125              NaN                 NaN          NaN

                                      Country  ISO           Region  ...  \
0                                  Cabo Verde  CPV   Western Africa  ...
1                                       India  IND    Southern Asia  ...
2                                   Guatemala  GTM  Central America  ...
3                                   Guatemala  GTM  Central America  ...
4                                   Guatemala  GTM  Central America  ...
...                                       ...  ...              ...  ...
16121                                   Yemen  YEM     Western Asia  ...
16122                            South Africa  ZAF  Southern Africa  ...
16123  Congo (the Democratic Republic of the)  COD    Middle Africa  ...
16124                                  Serbia  SRB  Southern Europe  ...
16125                             South Sudan  SSD  Northern Africa  ...

      Dis Mag Scale Start Year  Start Month Start Day  End Year  End Month  \
0               Km2       1900          NaN       NaN      1900        NaN
1               Km2       1900          NaN       NaN      1900        NaN
2           Richter       1902          4.0      18.0      1902        4.0
3               NaN       1902          4.0       8.0      1902        4.0
4               NaN       1902         10.0      24.0      1902       10.0
...             ...        ...          ...       ...       ...        ...
16121           Km2       2021          7.0      16.0      2021        8.0
16122           Km2       2021          2.0       1.0      2021        2.0
16123    Vaccinated       2021          9.0       7.0      2021        9.0
16124           Km2       2021          1.0      11.0      2021        1.0
16125           Km2       2021          5.0       NaN      2021       10.0

       End Day  Total Deaths  Total Damages ('000 US$)       CPI
0          NaN       11000.0                       NaN  3.221647
1          NaN     1250000.0                       NaN  3.221647
2         18.0        2000.0                   25000.0  3.350513
3          8.0        1000.0                       NaN  3.350513
4         24.0        6000.0                       NaN  3.350513
...        ...           ...                       ...       ...
16121      7.0          11.0                       NaN       NaN
16122     15.0          31.0                   75000.0       NaN
16123     13.0         131.0                       NaN       NaN
16124     12.0           NaN                       NaN       NaN
16125      7.0           7.0                       NaN       NaN

[16126 rows x 23 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      16126 non-null  int64
 1   Disaster Group            16126 non-null  object
 2   Disaster Subgroup         16126 non-null  object
 3   Disaster Type             16126 non-null  object
 4   Disaster Subtype          13016 non-null  object
 5   Disaster Subsubtype       1077 non-null   object
 6   Event Name                3861 non-null   object
 7   Country                   16126 non-null  object
 8   ISO                       16126 non-null  object
 9   Region                    16126 non-null  object
 10  Continent                 16126 non-null  object
 11  Location                  14334 non-null  object
 12  Dis Mag Value             4946 non-null   float64
 13  Dis Mag Scale             14936 non-null  object
 14  Start Year                16126 non-null  int64
 15  Start Month               15739 non-null  float64
 16  Start Day                 12498 non-null  float64
 17  End Year                  16126 non-null  int64
 18  End Month                 15418 non-null  float64
 19  End Day                   12570 non-null  float64
 20  Total Deaths              11413 non-null  float64
 21  Total Damages ('000 US$)  5245 non-null   float64
 22  CPI                       15811 non-null  float64
dtypes: float64(8), int64(3), object(12)
memory usage: 2.8+ MB

In [16]:
df.head()

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,Region,...,Dis Mag Scale,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,Total Damages ('000 US$),CPI
0,1900,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,CPV,Western Africa,...,Km2,1900,NaN,NaN,1900,NaN,NaN,11000.0,NaN,3.221647
1,1900,Natural,Climatological,Drought,Drought,NaN,NaN,India,IND,Southern Asia,...,Km2,1900,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,3.221647
2,1902,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,GTM,Central America,...,Richter,1902,4.0,18.0,1902,4.0,18.0,2000.0,25000.0,3.350513
3,1902,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,GTM,Central America,...,NaN,1902,4.0,8.0,1902,4.0,8.0,1000.0,NaN,3.350513
4,1902,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,GTM,Central America,...,NaN,1902,10.0,24.0,1902,10.0,24.0,6000.0,NaN,3.350513

In [17]:
unique_subgroup = df['Disaster Subgroup'].unique()
print(unique_subgroup)

['Climatological' 'Geophysical' 'Meteorological' 'Hydrological'
 'Biological' 'Extra-terrestrial']

In [18]:
storm_df = df[(df['Disaster Subtype'] == 'Tropical cyclone')].copy()

print(storm_df)

       Year Disaster Group Disaster Subgroup Disaster Type  Disaster Subtype  \
7      1904        Natural    Meteorological         Storm  Tropical cyclone
14     1906        Natural    Meteorological         Storm  Tropical cyclone
18     1909        Natural    Meteorological         Storm  Tropical cyclone
19     1909        Natural    Meteorological         Storm  Tropical cyclone
22     1909        Natural    Meteorological         Storm  Tropical cyclone
...     ...            ...               ...           ...               ...
16094  2021        Natural    Meteorological         Storm  Tropical cyclone
16095  2021        Natural    Meteorological         Storm  Tropical cyclone
16096  2021        Natural    Meteorological         Storm  Tropical cyclone
16115  2021        Natural    Meteorological         Storm  Tropical cyclone
16119  2021        Natural    Meteorological         Storm  Tropical cyclone

      Disaster Subsubtype                          Event Name  \
7                     NaN                                 NaN
14                    NaN                                 NaN
18                    NaN                                 NaN
19                    NaN                                 NaN
22                    NaN                                 NaN
...                   ...                                 ...
16094                 NaN             Tropical storm 'Koguma'
16095                 NaN           Tropical cyclone 'Eloise'
16096                 NaN           Tropical cyclone 'Eloise'
16115                 NaN                    Hurricane 'Elsa'
16119                 NaN  Tropical cyclone 'Conson' (Jolina)

                                Country  ISO              Region  ...  \
7                            Bangladesh  BGD       Southern Asia  ...
14                            Hong Kong  HKG        Eastern Asia  ...
18                           Bangladesh  BGD       Southern Asia  ...
19                           Bangladesh  BGD       Southern Asia  ...
22                                Haiti  HTI           Caribbean  ...
...                                 ...  ...                 ...  ...
16094                          Viet Nam  VNM  South-Eastern Asia  ...
16095                      South Africa  ZAF     Southern Africa  ...
16096                          Zimbabwe  ZWE      Eastern Africa  ...
16115  Saint Vincent and the Grenadines  VCT           Caribbean  ...
16119                          Viet Nam  VNM  South-Eastern Asia  ...

      Dis Mag Scale Start Year  Start Month Start Day  End Year  End Month  \
7               Kph       1904         11.0       NaN      1904       11.0
14              Kph       1906          9.0       8.0      1906        9.0
18              Kph       1909         10.0      15.0      1909       10.0
19              Kph       1909         12.0       NaN      1909       12.0
22              Kph       1909         11.0      12.0      1909       11.0
...             ...        ...          ...       ...       ...        ...
16094           Kph       2021          6.0      12.0      2021        6.0
16095           Kph       2021          1.0      24.0      2021        1.0
16096           Kph       2021          1.0      23.0      2021        1.0
16115           Kph       2021          7.0       2.0      2021        7.0
16119           Kph       2021          9.0      12.0      2021        9.0

       End Day  Total Deaths  Total Damages ('000 US$)       CPI
7          NaN           NaN                       NaN  3.479379
14         8.0       10000.0                   20000.0  3.479379
18        15.0         172.0                       NaN  3.479379
19         NaN           NaN                       NaN  3.479379
22        12.0         150.0                       NaN  3.479379
...        ...           ...                       ...       ...
16094     13.0           1.0                   10000.0       NaN
16095     24.0           4.0                       NaN       NaN
16096     23.0           3.0                       NaN       NaN
16115      3.0           NaN                       NaN       NaN
16119     12.0           2.0                       NaN       NaN

[2420 rows x 23 columns]

In [19]:

# Drop the 'Region' column from the DataFrame to prevent conflict with merges to other data
storm_df_dropped = storm_df.drop('Region', axis=1)

# Filter the DataFrame for rows where 'ISO' equals 'USA' and make a copy
us_storms = storm_df_dropped[storm_df_dropped['ISO'] == 'USA'].copy()

print(us_storms)

# Save the DataFrame to a CSV file
us_storms.to_csv('data/us_storms.csv', index=False)

       Year Disaster Group Disaster Subgroup Disaster Type  Disaster Subtype  \
845    1900        Natural    Meteorological         Storm  Tropical cyclone
866    1906        Natural    Meteorological         Storm  Tropical cyclone
867    1906        Natural    Meteorological         Storm  Tropical cyclone
875    1909        Natural    Meteorological         Storm  Tropical cyclone
876    1909        Natural    Meteorological         Storm  Tropical cyclone
...     ...            ...               ...           ...               ...
16048  2020        Natural    Meteorological         Storm  Tropical cyclone
16049  2020        Natural    Meteorological         Storm  Tropical cyclone
16091  2021        Natural    Meteorological         Storm  Tropical cyclone
16092  2021        Natural    Meteorological         Storm  Tropical cyclone
16093  2021        Natural    Meteorological         Storm  Tropical cyclone

      Disaster Subsubtype                   Event Name  \
845                   NaN                          NaN
866                   NaN                          NaN
867                   NaN                          NaN
875                   NaN                          NaN
876                   NaN                          NaN
...                   ...                          ...
16048                 NaN   Tropical storm 'Cristobal'
16049                 NaN           Hurricane 'Isaias'
16091                 NaN             Hurricane 'Elsa'
16092                 NaN  Tropical depression 'Henri'
16093                 NaN         Tropical storm 'Ida'

                              Country  ISO Continent  ... Dis Mag Scale  \
845    United States of America (the)  USA  Americas  ...           Kph
866    United States of America (the)  USA  Americas  ...           Kph
867    United States of America (the)  USA  Americas  ...           Kph
875    United States of America (the)  USA  Americas  ...           Kph
876    United States of America (the)  USA  Americas  ...           Kph
...                               ...  ...       ...  ...           ...
16048  United States of America (the)  USA  Americas  ...           Kph
16049  United States of America (the)  USA  Americas  ...           Kph
16091  United States of America (the)  USA  Americas  ...           Kph
16092  United States of America (the)  USA  Americas  ...           Kph
16093  United States of America (the)  USA  Americas  ...           Kph

       Start Year Start Month  Start Day  End Year  End Month  End Day  \
845          1900         9.0        8.0      1900        9.0      8.0
866          1906         NaN        NaN      1906        NaN      NaN
867          1906         NaN        NaN      1906        NaN      NaN
875          1909         NaN        NaN      1909        NaN      NaN
876          1909         NaN        NaN      1909        NaN      NaN
...           ...         ...        ...       ...        ...      ...
16048        2020         6.0        7.0      2020        6.0      7.0
16049        2020         7.0       31.0      2020        8.0      2.0
16091        2021         7.0        2.0      2021        7.0      9.0
16092        2021         8.0       20.0      2021        8.0     25.0
16093        2021         8.0       28.0      2021        9.0      2.0

       Total Deaths  Total Damages ('000 US$)         CPI
845          6000.0                   30000.0    3.221647
866           164.0                       NaN    3.479379
867           134.0                       NaN    3.479379
875           350.0                       NaN    3.479379
876            41.0                       NaN    3.479379
...             ...                       ...         ...
16048           1.0                  325000.0  100.000000
16049          16.0                 4800000.0  100.000000
16091           1.0                  775000.0         NaN
16092           NaN                  550000.0         NaN
16093          77.0                10000000.0         NaN

[132 rows x 22 columns]

In [20]:
us_storms = storm_df[storm_df['ISO'] == 'USA'].copy()

In [21]:
us_storms['Location'].unique()

array(['Galveston (Texas)', 'Florida', 'Mississippi, Alabama, Pensacola',
       'Grand Isle (Louisiana)', 'Velasco (Texas)',
       'Cavelston (Texas), New Orleans (Louisiana)',
       'Louisiana (Southwest)', 'Florida Keys, South Texas', 'Louisiana',
       'Florida, Alabama, Pensacola', 'Lake Okeechobee (Florida)',
       'Freeport (Texas)', 'South Texas', 'New York',
       'Georgia, Carolinas', 'East coast', 'Florida, Louisiana',
       'East Coast', 'South Carolina, North Carolina', nan,
       'Connie (North Carolina)', 'Gulf Coast', 'Texas',
       'Florida, Louisiana, Alabama, Mississippi',
       'Mississippi, Louisiana, Virginia', 'East', 'Gulf coast',
       'Texas, Louisiana', 'Kalamazoo', 'Nebraska', 'Hawaii',
       'Florida, Panhandle, Georgia',
       'Florida, Arkansas, Kentucky, South Dakota, Iowa, Michgigan, Indianapolis, Missouri',
       'Louisiana, Mississippi, Florida Panhandle', 'Colorado, Texas',
       'Floride', 'South Caroline', 'Texas, Louisiane',
       'North Carolina, Delaware, New York, Richmond, Maine, Rhode Island, Connecticut, Massachusetts, Indiana, Michigan, Ohio, Kentucky',
       'New England, New York, New Jersey',
       'Massachusetts, New York, Rhode Island, New Jersey, Connecticut',
       'Kauai, Nihau, Oahu, Hawai', 'Florida, Louisiana, Bahamas',
       'Majuro ( Marshall Isl.)', 'North Carolina',
       'Minnesota, Kansas, Oklahoma, South Dakota, Texas, Arkansas, Nebraska, Louisiana',
       'Georgia, Michigan, Florida, Alabama',
       'Florida, Georgia, Alabama, North Carolina',
       'Florida, Alabama, Mississipi',
       'North Carolina, South Carolina, Virginia, Maryland, West Virginia, Pennsylvania, Ohio, Washington DC',
       'Louisiana, Alabama, South Carolina, North Carolina',
       'Florida, Mississippi, Alabama, Lousiana',
       'North Carolina, Virginia, South Carolina',
       'North Carolina, Florida, South Carolina, Virginia, Maryland, Pennsylvania, New Jersey, New York, Delaware, Rhode Island, Connecticut, Massachusetts, Vermont',
       'Kennedy county (Texas)', 'Bahamas, Floride',
       'Bahamas, North Carolina, Virginia',
       'Miami-Dade, Monroe, Broward, Collier districts (Florida province)',
       'Texas, Mississippi, Louisiana, Florida, Pennsylvania, South Carolina, North Carolina, Georgia, Pensylvania, New Jersey, Virginia, Iowa provinces',
       'St. Tammany, Terrebonne, Lafayette, Acadia, Evangeline, Rapides districts (Louisiana province)',
       'Louisiane, Mississippi, Alabama, Tennessee provinces',
       'North Carolina, Maryland, Virginia, West Virginia, Delaware, Pennsylvania, New Jersey, District of Columbia provinces',
       'Orleans, St. John the Baptist, Terrebonne, St. Tammany, Tangipahoa districts (Louisiana province), Hancock, Harrison, Jackson, Pike, Walthall districts (Mississippi province), Bay district (Florida province), Mobile, Baldwin, Lee districts (Alabama province), Sumter, Bulloch, Fulton, DeKalb, Cobb, Clayton, Gwinnett districts (Georgia province), Wake district (North Carolina province)',
       'Alabama, Louisiana, Mississippi, Florida, Pennsylvania, Maryland, New Jersey, Ohio, North Carolina, West Virginia, Georgia, Tennessee provinces',
       'Martin, Palm Beach districts (Florida province), North Carolina, South Carolina, Ohio provinces',
       'Richmond, Lynchburg, Chesterfield districts (Virginia province), South Carolina, North Carolina provinces',
       'Bay, Calhoun, Escambia, Franklin, Gadsden, Gulf, Holmes, Jackson, Jefferson, Leon, Liberty, Madison, Okaloosa, Santa Rosa, Taylor, Wakulla, Walton, Washington districts (Florida province), South Carolina, North Carolina provinces',
       'Florida province',
       'Mobile, Bayou La Batre, Dauphin Island, Coden areas (Mobile district, Alabama province), New Orleans city (Orleans district, Louisiana province), Slidell area (St. Tammany district, Louisiana province), St. Bernard district (Louisiana province), Biloxi, Gulfport cities (Harrison district, Mississippi province), Pascagoula city (Jackson district, Mississippi province), Waveland, Bay St. Louis cities (Hancock district, Mississippi province), Georgia, Florida provinces',
       'Florida Keys, Naples areas (Collier district, Florida province)',
       'Louisiana, Texas, Mississippi provinces',
       'Florida, Georgia provinces',
       'South Carolina, North Carolina, Virginia provinces',
       'Texas, Oklahoma, Missouri provinces',
       'Panama city beach (Bay district, Florida province), Aransas, Bexar, Brooks, Calhoun, Cameron, Hidalgo, Jim Wells, Kenedy, Kleberg, Nueces, Refugio, San Patricio, Starr, Victoria, Willacy districts (Texas province)',
       'Florida, Georgia, Alabama, Mississippi provinces',
       'Galveston, Brazoria, Harris, Chambers, Jefferson districts (Texas province), Louisiana, Tennessee, Arkansas, Ohio, Indiana, Illinois, Missouri, Kentucky, Pennsylvania, Michigan provinces',
       'Louisiana, Mississippi, Texas, Alabama provinces',
       'Florida, North Carolina, Maryland provinces',
       'Kent, Sussex districts (Delaware province), Atlantic, Burlington, Cape May, Cumberland, Monmouth, Ocean districts (New Jersey province), Virginia, New York, North Carolina, Pennsylvannia provinces',
       'Maine province',
       'North Carolina, Virginia, Maryland, Massachusetts, Rhode Island provinces',
       'Texas province',
       'New York, New Jersey, Pennsylvania, North Carolina, Virginia, Maryland, District of Columbia, Connecticut, Florida provinces',
       'Louisiana, Mississippi, Alabama, Texas, New York, Pennsylvania, District of Columbia, Georgia, Maryland, Tennessee, Virginia provinces',
       'New York, New Jersey, Pennsylvania, Connecticut, Ohio, Delaware, Rhode Island, Maryland, Massachusetts, Maine, New Hampshire, North Carolina, Vermont, Virginia, District of Columbia, West Virginia provinces',
       'Mississippi, Louisiana provinces',
       'Bay, Calhoun, Escambia, Franklin, Gadsden, Gulf, Holmes, Jackson, Jefferson, Leon, Liberty, Madison, Okaloosa, Santa Rosa, Taylor, Wakulla, Walton, Washington, Brevard, Citrus, Hardee, Hernando, Hillsborough, Indian River, Lake, Manatee, Marion, Orange, Osceola, Pasco, Pinellas, Polk, Seminole, Sumter, Volusia districts',
       'Hawaii province',
       'Georgia, Florida, South Carolina, New York, New Jersey; Cedar Key, Florida, Aurora (North Carolina); Virginia Tidewater region',
       'Florida, Georgia, South Carolina, North Carolina, Virginia provinces',
       'Eastern Texas (Rockport, Corpus Chrsti, Port Lavaca, Cypress area of Houston, Houston metro area, Beaumont, Port Arthur, Angelina, Aransas, Atascosa, Austin, Bastrop, Bee, Bexar, Brazoria, Brazos, Burleson, Caldwell, Calhoun, Cameron, Chambers, Colorado, Comal, DeWitt, Fayette, Fort Bend, Galveston, Goliad, Gonzales, Grimes, Guadalupe, Hardin, Harris, Jackson, Jasper, Jefferson, Jim Wells, Karnes, Kerr, Kleberg, Lavaca, Lee, Leon, Liberty, Live Oak, Madison, Matagorda, Montgomery, Newton, Nueces, Orange, Polk, Refugio, Sabine, San Jacinto, San Patricio, Trinity, Tyler, Victoria, Walker, Waller, Washington, Wharton, Willacy, Wilson, San Augustine), Southwestern Louisiana (Acadia, Forrest, Iberia, Lafayette, Vernon, Beauregard, Calcasieu, Cameron (Hackberry), Jefferson Davis, Vermillion, Allen, Natchitoches, Rapides, Sabine)',
       'Keys islands, Monroe, South Florida, Jacksonville (Duval), Marco Island, Naples (Collier), Fort Lauderdale (Broward), Lakeland (Polk), Orlando (Orange), Clay (Florida), Savannah, Tybee Island (Chatham), Brunswick, St. Simons Island (Glynn), McIntosh, Camden (Georgia), Charleston, Folly Beach, the Isle of Palms, Sullivan’s Island (Charleston) Hilton Head, Beaufort, Edisto Beach (Colleton) (South Carolina)',
       'Jersey shore, Seaside Park, Point Pleasant Beach (Ocean), Long Branch (Monmouth) (New Jersey), Fernandina beach (Nassau-Florida)',
       'Mexico Gulf, Louisiania, Mississippi (coastal areas, Biloxi), Alabama (Dauphin Island, Autauga, Chilton, Lowndes Counties), Florida, South Carolina (Pickens, Laurens, Spartanburg, Newberry, Greenville, Union), North Carolina (Polk, Wilkes, Ashe )',
       'South and North Carolina, Virginia',
       'Florida, Georgia, Alabama, North Carolina, Virginia, Maryland',
       'Southeast',
       'Louisiana, Mississippi, Arkansas, Oklahoma, Great Lakes region',
       'Florida, Georgia, South Carolina, North Carolina, Virginia',
       'Florida, North Carolina, Virginia',
       'Louisiana, Texas, Mississippi, Georgia, North and South Carolina',
       'Alabama, Florida',
       'Louisiana, Mississippi, Alabama, northern Georgia, south and North Carolinas',
       'Louisiana, Texas, Arkansas, Mississippi ',
       'errebonne, Plaquemines, Lafourche Parishes (Louisiana)',
       'North Carolina, South Carolina, New York, Maryland, Delaware, New Jersey, Connecticut, Florida, Virginia, Pennsylvania, New Hampshire',
       'California, Georgia, Florida',
       'Rhode Isl., Connecticut, Vermont, New York, New Jersey states',
       'Louisiana, New York, New Jersey, Maryland, Connecticut, Virginia, Pennsylvania'],
      dtype=object)

### Filter us_storms for regions

In [22]:
from categorizeregion import state_map

from categorizeregion import state_map

def extract_states(location):
    region_abbreviations = {
        'East Coast': 'East Coast',
        'West Coast': 'West Coast',
        'Gulf Coast': 'Gulf Coast',
    }
    if not isinstance(location, str):
        return ''
    
    # Regular expression for recognized regions
    region_pattern = r'\b(?:' + '|'.join(re.escape(region) for region in region_abbreviations) + r')\b'
    
    # First, check if the location matches any of the recognized regions
    found_regions = re.findall(region_pattern, location, re.IGNORECASE)
    if found_regions:
        # Assuming only one region can be mentioned in the location, return the first match
        return region_abbreviations[found_regions[0].title()]
    
    # Regular expression to match state names or abbreviations in various contexts
    pattern = r'\b(?:' + '|'.join(re.escape(s) for s in state_map.keys()) + r')\b'
    
    # Find all matches in the location string
    found_states = re.findall(pattern, location, re.IGNORECASE)
    
    # Convert state names to their abbreviations
    state_abbrs = set()  # Use a set to avoid duplicates
    for state in found_states:
        state_title = state.title()  # Ensure the first letter of each word is uppercase
        if state_title in state_map:
            state_abbrs.add(state_map[state_title])
    
    return ', '.join(sorted(state_abbrs))  # Return a string of unique, sorted abbreviations

# Test the function with examples
location_examples = ['Galveston (Texas)', 'Gainesville (Georgia)', 'Florida',
                     'Mississippi, Alabama, Pensacola', 'Grand Isle (Louisiana)',
                     'Velasco (Texas)', 'Ohio, Indiana, Texas', 'East Coast',
                     'Some city (West Coast)', 'A town in the Gulf Coast region']

for loc in location_examples:
    print(f"{loc} -> {extract_states(loc)}")

Galveston (Texas) -> TX
Gainesville (Georgia) -> GA
Florida -> FL
Mississippi, Alabama, Pensacola -> AL, FL, MS
Grand Isle (Louisiana) -> LA
Velasco (Texas) -> TX
Ohio, Indiana, Texas -> IN, OH, TX
East Coast -> East Coast
Some city (West Coast) -> West Coast
A town in the Gulf Coast region -> Gulf Coast

In [23]:
us_storms['State'] = us_storms['Location'].apply(extract_states)
print(us_storms)

       Year Disaster Group Disaster Subgroup Disaster Type  Disaster Subtype  \
845    1900        Natural    Meteorological         Storm  Tropical cyclone
866    1906        Natural    Meteorological         Storm  Tropical cyclone
867    1906        Natural    Meteorological         Storm  Tropical cyclone
875    1909        Natural    Meteorological         Storm  Tropical cyclone
876    1909        Natural    Meteorological         Storm  Tropical cyclone
...     ...            ...               ...           ...               ...
16048  2020        Natural    Meteorological         Storm  Tropical cyclone
16049  2020        Natural    Meteorological         Storm  Tropical cyclone
16091  2021        Natural    Meteorological         Storm  Tropical cyclone
16092  2021        Natural    Meteorological         Storm  Tropical cyclone
16093  2021        Natural    Meteorological         Storm  Tropical cyclone

      Disaster Subsubtype                   Event Name  \
845                   NaN                          NaN
866                   NaN                          NaN
867                   NaN                          NaN
875                   NaN                          NaN
876                   NaN                          NaN
...                   ...                          ...
16048                 NaN   Tropical storm 'Cristobal'
16049                 NaN           Hurricane 'Isaias'
16091                 NaN             Hurricane 'Elsa'
16092                 NaN  Tropical depression 'Henri'
16093                 NaN         Tropical storm 'Ida'

                              Country  ISO            Region  ... Start Year  \
845    United States of America (the)  USA  Northern America  ...       1900
866    United States of America (the)  USA  Northern America  ...       1906
867    United States of America (the)  USA  Northern America  ...       1906
875    United States of America (the)  USA  Northern America  ...       1909
876    United States of America (the)  USA  Northern America  ...       1909
...                               ...  ...               ...  ...        ...
16048  United States of America (the)  USA  Northern America  ...       2020
16049  United States of America (the)  USA  Northern America  ...       2020
16091  United States of America (the)  USA  Northern America  ...       2021
16092  United States of America (the)  USA  Northern America  ...       2021
16093  United States of America (the)  USA  Northern America  ...       2021

      Start Month  Start Day End Year  End Month  End Day  Total Deaths  \
845           9.0        8.0     1900        9.0      8.0        6000.0
866           NaN        NaN     1906        NaN      NaN         164.0
867           NaN        NaN     1906        NaN      NaN         134.0
875           NaN        NaN     1909        NaN      NaN         350.0
876           NaN        NaN     1909        NaN      NaN          41.0
...           ...        ...      ...        ...      ...           ...
16048         6.0        7.0     2020        6.0      7.0           1.0
16049         7.0       31.0     2020        8.0      2.0          16.0
16091         7.0        2.0     2021        7.0      9.0           1.0
16092         8.0       20.0     2021        8.0     25.0           NaN
16093         8.0       28.0     2021        9.0      2.0          77.0

       Total Damages ('000 US$)         CPI  \
845                     30000.0    3.221647
866                         NaN    3.479379
867                         NaN    3.479379
875                         NaN    3.479379
876                         NaN    3.479379
...                         ...         ...
16048                  325000.0  100.000000
16049                 4800000.0  100.000000
16091                  775000.0         NaN
16092                  550000.0         NaN
16093                10000000.0         NaN

                                            State
845                                            TX
866                                            FL
867                                    AL, FL, MS
875                                            LA
876                                            TX
...                                           ...
16048                                          LA
16049  CT, DE, FL, MD, NC, NH, NJ, NY, PA, SC, VA
16091                                  CA, FL, GA
16092                              CT, NJ, NY, VT
16093                  CT, LA, MD, NJ, NY, PA, VA

[132 rows x 24 columns]

In [24]:
print(us_storms[['Location', 'State']].head(10))

                                       Location       State
845                           Galveston (Texas)          TX
866                                     Florida          FL
867             Mississippi, Alabama, Pensacola  AL, FL, MS
875                      Grand Isle (Louisiana)          LA
876                             Velasco (Texas)          TX
883                                     Florida          FL
899  Cavelston (Texas), New Orleans (Louisiana)      LA, TX
906                       Louisiana (Southwest)          LA
908                   Florida Keys, South Texas      FL, TX
930                                   Louisiana          LA

In [25]:
usstorms = us_storms.copy()

In [26]:
from categorizeregion import add_region_column

us_storms = add_region_column(us_storms)

us_storms.to_excel('data/cleanusstorms.xlsx', index=False)
print(us_storms['Region'].value_counts())

Region
Gulf Coast    90
East Coast    26
Other         13
Island         2
West Coast     1
Name: count, dtype: int64

### Follow up later
---
###### Look at regions and consider how to handle storms that impact multiple areas
---