# Worldwide Natural Disasters from 1900 - 2021
---
Initial exploration and cleaning to get tropical storms in the US.

In [22]:
import pandas as pd 
import re
import numpy as np 
import seaborn as sns   
import matplotlib.pyplot as plt  

import plotly.express as px
import os

df = pd.read_csv('data/disasters_1900_2021.csv')

#drop columns
#df.drop(['Seq', 'Glide', 'Origin', 'Appeal', 'Declaration', 'Aid Contribution', 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations', 'Associated Dis', 'Associated Dis2', 'OFDA Response', 'Latitude', 'Longitude', 'Local Time', 'River Basin', 'No Injured', 'No Affected', 'No Homeless', 'Total Affected', "Insured Damages ('000 US$)"], axis=1, inplace=True)


print(df)

       Year   Seq           Glide Disaster Group Disaster Subgroup  \
0      1900  9002             NaN        Natural    Climatological
1      1900  9001             NaN        Natural    Climatological
2      1902    12             NaN        Natural       Geophysical
3      1902     3             NaN        Natural       Geophysical
4      1902    10             NaN        Natural       Geophysical
...     ...   ...             ...            ...               ...
16121  2021   449  FL-2021-000110        Natural      Hydrological
16122  2021    75             NaN        Natural      Hydrological
16123  2021   599  EP-2021-000138        Natural        Biological
16124  2021    20             NaN        Natural      Hydrological
16125  2021   481             NaN        Natural      Hydrological

           Disaster Type Disaster Subtype Disaster Subsubtype   Event Name  \
0                Drought          Drought                 NaN          NaN
1                Drought          Drought                 NaN          NaN
2             Earthquake  Ground movement                 NaN          NaN
3      Volcanic activity         Ash fall                 NaN  Santa Maria
4      Volcanic activity         Ash fall                 NaN  Santa Maria
...                  ...              ...                 ...          ...
16121              Flood              NaN                 NaN          NaN
16122              Flood              NaN                 NaN          NaN
16123           Epidemic    Viral disease                 NaN   Meningitis
16124              Flood              NaN                 NaN          NaN
16125              Flood              NaN                 NaN          NaN

                                      Country  ... No Affected No Homeless  \
0                                  Cabo Verde  ...         NaN         NaN
1                                       India  ...         NaN         NaN
2                                   Guatemala  ...         NaN         NaN
3                                   Guatemala  ...         NaN         NaN
4                                   Guatemala  ...         NaN         NaN
...                                       ...  ...         ...         ...
16121                                   Yemen  ...     67980.0         NaN
16122                            South Africa  ...       400.0         NaN
16123  Congo (the Democratic Republic of the)  ...         NaN         NaN
16124                                  Serbia  ...        22.0         NaN
16125                             South Sudan  ...    500000.0         NaN

      Total Affected Insured Damages ('000 US$) Total Damages ('000 US$)  \
0                NaN                        NaN                      NaN
1                NaN                        NaN                      NaN
2                NaN                        NaN                  25000.0
3                NaN                        NaN                      NaN
4                NaN                        NaN                      NaN
...              ...                        ...                      ...
16121        67980.0                        NaN                      NaN
16122          400.0                        NaN                  75000.0
16123          301.0                        NaN                      NaN
16124           22.0                        NaN                      NaN
16125       500000.0                        NaN                      NaN

            CPI Adm Level                                Admin1 Code  \
0      3.221647       NaN                                        NaN
1      3.221647       NaN                                        NaN
2      3.350513       NaN                                        NaN
3      3.350513       NaN                                        NaN
4      3.350513       NaN                                        NaN
...         ...       ...                                        ...
16121       NaN       NaN                                        NaN
16122       NaN       1;2               2707;77311;77312;77313;77315
16123       NaN       NaN                                        NaN
16124       NaN         1  25374;25378;25379;25380;25383;25386;25397
16125       NaN       NaN                                        NaN

       Admin2 Code                                      Geo Locations
0              NaN                                                NaN
1              NaN                                                NaN
2              NaN                                                NaN
3              NaN                                                NaN
4              NaN                                                NaN
...            ...                                                ...
16121          NaN                                                NaN
16122  77364;77367  Free State, KwaZulu-Natal, Limpopo, Mpumalanga...
16123          NaN                                                NaN
16124          NaN  Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko...
16125          NaN                                                NaN

[16126 rows x 45 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       1581 non-null   object
 3   Disaster Group              16126 non-null  object
 4   Disaster Subgroup           16126 non-null  object
 5   Disaster Type               16126 non-null  object
 6   Disaster Subtype            13016 non-null  object
 7   Disaster Subsubtype         1077 non-null   object
 8   Event Name                  3861 non-null   object
 9   Country                     16126 non-null  object
 10  ISO                         16126 non-null  object
 11  Region                      16126 non-null  object
 12  Continent                   16126 non-null  object
 13  Location                    14334 non-null  object
 14  Origin                      3794 non-null   object
 15  Associated Dis              3348 non-null   object
 16  Associated Dis2             707 non-null    object
 17  OFDA Response               1694 non-null   object
 18  Appeal                      2569 non-null   object
 19  Declaration                 3256 non-null   object
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               14936 non-null  object
 23  Latitude                    2729 non-null   object
 24  Longitude                   2732 non-null   object
 25  Local Time                  1103 non-null   object
 26  River Basin                 1287 non-null   object
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   7859 non-null   object
 42  Admin1 Code                 4581 non-null   object
 43  Admin2 Code                 3969 non-null   object
 44  Geo Locations               7859 non-null   object
dtypes: float64(14), int64(4), object(27)
memory usage: 5.5+ MB

In [24]:
df.head()

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN

In [25]:
unique_subgroup = df['Disaster Subgroup'].unique()
print(unique_subgroup)

['Climatological' 'Geophysical' 'Meteorological' 'Hydrological'
 'Biological' 'Extra-terrestrial']

In [26]:
storm_df = df[(df['Disaster Subtype'] == 'Tropical cyclone')].copy()

print(storm_df)

       Year  Seq                      Glide Disaster Group Disaster Subgroup  \
7      1904    3                        NaN        Natural    Meteorological
14     1906   15                        NaN        Natural    Meteorological
18     1909   10                        NaN        Natural    Meteorological
19     1909   13                        NaN        Natural    Meteorological
22     1909   12                        NaN        Natural    Meteorological
...     ...  ...                        ...            ...               ...
16094  2021  327                        NaN        Natural    Meteorological
16095  2021   36  TC-2021-000011/TC-2021-00        Natural    Meteorological
16096  2021   36  TC-2021-000011/TC-2021-00        Natural    Meteorological
16115  2021  373                        NaN        Natural    Meteorological
16119  2021  595                        NaN        Natural    Meteorological

      Disaster Type  Disaster Subtype Disaster Subsubtype  \
7             Storm  Tropical cyclone                 NaN
14            Storm  Tropical cyclone                 NaN
18            Storm  Tropical cyclone                 NaN
19            Storm  Tropical cyclone                 NaN
22            Storm  Tropical cyclone                 NaN
...             ...               ...                 ...
16094         Storm  Tropical cyclone                 NaN
16095         Storm  Tropical cyclone                 NaN
16096         Storm  Tropical cyclone                 NaN
16115         Storm  Tropical cyclone                 NaN
16119         Storm  Tropical cyclone                 NaN

                               Event Name                           Country  \
7                                     NaN                        Bangladesh
14                                    NaN                         Hong Kong
18                                    NaN                        Bangladesh
19                                    NaN                        Bangladesh
22                                    NaN                             Haiti
...                                   ...                               ...
16094             Tropical storm 'Koguma'                          Viet Nam
16095           Tropical cyclone 'Eloise'                      South Africa
16096           Tropical cyclone 'Eloise'                          Zimbabwe
16115                    Hurricane 'Elsa'  Saint Vincent and the Grenadines
16119  Tropical cyclone 'Conson' (Jolina)                          Viet Nam

       ... No Affected No Homeless Total Affected Insured Damages ('000 US$)  \
7      ...         NaN         NaN            NaN                        NaN
14     ...         NaN         NaN            NaN                        NaN
18     ...         NaN         NaN            NaN                        NaN
19     ...         NaN         NaN            NaN                        NaN
22     ...         NaN         NaN            NaN                        NaN
...    ...         ...         ...            ...                        ...
16094  ...       750.0         NaN          750.0                        NaN
16095  ...      3200.0         NaN         3200.0                        NaN
16096  ...      2000.0         NaN         2000.0                        NaN
16115  ...       129.0         NaN          129.0                        NaN
16119  ...       310.0         NaN          310.0                        NaN

      Total Damages ('000 US$)       CPI Adm Level Admin1 Code  \
7                          NaN  3.479379       NaN         NaN
14                     20000.0  3.479379       NaN         NaN
18                         NaN  3.479379       NaN         NaN
19                         NaN  3.479379       NaN         NaN
22                         NaN  3.479379       NaN         NaN
...                        ...       ...       ...         ...
16094                  10000.0       NaN       NaN         NaN
16095                      NaN       NaN         2         NaN
16096                      NaN       NaN         2         NaN
16115                      NaN       NaN       NaN         NaN
16119                      NaN       NaN       NaN         NaN

                               Admin2 Code  \
7                                      NaN
14                                     NaN
18                                     NaN
19                                     NaN
22                                     NaN
...                                    ...
16094                                  NaN
16095  77334;77335;77339;77341;77343;77344
16096              33055;33083;33085;33095
16115                                  NaN
16119                                  NaN

                                           Geo Locations
7                                                    NaN
14                                                   NaN
18                                                   NaN
19                                                   NaN
22                                                   NaN
...                                                  ...
16094                                                NaN
16095  Capricorn District Municipality, Ehlanzeni Dis...
16096     Beitbridge, Chipinge, Chivi, Masvingo (Adm2).
16115                                                NaN
16119                                                NaN

[2420 rows x 45 columns]

In [27]:

# Drop the 'Region' column from the DataFrame to prevent conflict with merges to other data
storm_df_dropped = storm_df.drop('Region', axis=1)

# Filter the DataFrame for rows where 'ISO' equals 'USA' and make a copy
us_storms = storm_df_dropped[storm_df_dropped['ISO'] == 'USA'].copy()

print(us_storms)

# Save the DataFrame to a CSV file
us_storms.to_csv('data/us_storms.csv', index=False)

       Year  Seq Glide Disaster Group Disaster Subgroup Disaster Type  \
845    1900    3   NaN        Natural    Meteorological         Storm
866    1906    4   NaN        Natural    Meteorological         Storm
867    1906    5   NaN        Natural    Meteorological         Storm
875    1909    3   NaN        Natural    Meteorological         Storm
876    1909    4   NaN        Natural    Meteorological         Storm
...     ...  ...   ...            ...               ...           ...
16048  2020  219   NaN        Natural    Meteorological         Storm
16049  2020  312   NaN        Natural    Meteorological         Storm
16091  2021  373   NaN        Natural    Meteorological         Storm
16092  2021  531   NaN        Natural    Meteorological         Storm
16093  2021  551   NaN        Natural    Meteorological         Storm

       Disaster Subtype Disaster Subsubtype                   Event Name  \
845    Tropical cyclone                 NaN                          NaN
866    Tropical cyclone                 NaN                          NaN
867    Tropical cyclone                 NaN                          NaN
875    Tropical cyclone                 NaN                          NaN
876    Tropical cyclone                 NaN                          NaN
...                 ...                 ...                          ...
16048  Tropical cyclone                 NaN   Tropical storm 'Cristobal'
16049  Tropical cyclone                 NaN           Hurricane 'Isaias'
16091  Tropical cyclone                 NaN             Hurricane 'Elsa'
16092  Tropical cyclone                 NaN  Tropical depression 'Henri'
16093  Tropical cyclone                 NaN         Tropical storm 'Ida'

                              Country  ... No Affected No Homeless  \
845    United States of America (the)  ...         NaN         NaN
866    United States of America (the)  ...         NaN         NaN
867    United States of America (the)  ...         NaN         NaN
875    United States of America (the)  ...         NaN         NaN
876    United States of America (the)  ...         NaN         NaN
...                               ...  ...         ...         ...
16048  United States of America (the)  ...         NaN         NaN
16049  United States of America (the)  ...         NaN         NaN
16091  United States of America (the)  ...         NaN         NaN
16092  United States of America (the)  ...        86.0         NaN
16093  United States of America (the)  ...         NaN         NaN

      Total Affected Insured Damages ('000 US$) Total Damages ('000 US$)  \
845              NaN                        NaN                  30000.0
866              NaN                        NaN                      NaN
867              NaN                        NaN                      NaN
875              NaN                        NaN                      NaN
876              NaN                        NaN                      NaN
...              ...                        ...                      ...
16048            NaN                        NaN                 325000.0
16049            NaN                        NaN                4800000.0
16091            9.0                        NaN                 775000.0
16092           86.0                        NaN                 550000.0
16093            NaN                        NaN               10000000.0

              CPI Adm Level  \
845      3.221647       NaN
866      3.479379       NaN
867      3.479379       NaN
875      3.479379       NaN
876      3.479379       NaN
...           ...       ...
16048  100.000000         2
16049  100.000000         1
16091         NaN       NaN
16092         NaN       NaN
16093         NaN       NaN

                                             Admin1 Code Admin2 Code  \
845                                                  NaN         NaN
866                                                  NaN         NaN
867                                                  NaN         NaN
875                                                  NaN         NaN
876                                                  NaN         NaN
...                                                  ...         ...
16048                                                NaN       29820
16049  3220;3221;3223;3234;3243;3244;3246;3247;3252;3...         NaN
16091                                                NaN         NaN
16092                                                NaN         NaN
16093                                                NaN         NaN

                                           Geo Locations
845                                                  NaN
866                                                  NaN
867                                                  NaN
875                                                  NaN
876                                                  NaN
...                                                  ...
16048                                 Lafourche (Adm2).
16049  Connecticut, Delaware, Florida, Maryland, New ...
16091                                                NaN
16092                                                NaN
16093                                                NaN

[132 rows x 44 columns]

In [28]:
us_storms = storm_df[storm_df['ISO'] == 'USA'].copy()

In [29]:
us_storms['Location'].unique()

array(['Galveston (Texas)', 'Florida', 'Mississippi, Alabama, Pensacola',
       'Grand Isle (Louisiana)', 'Velasco (Texas)',
       'Cavelston (Texas), New Orleans (Louisiana)',
       'Louisiana (Southwest)', 'Florida Keys, South Texas', 'Louisiana',
       'Florida, Alabama, Pensacola', 'Lake Okeechobee (Florida)',
       'Freeport (Texas)', 'South Texas', 'New York',
       'Georgia, Carolinas', 'East coast', 'Florida, Louisiana',
       'East Coast', 'South Carolina, North Carolina', nan,
       'Connie (North Carolina)', 'Gulf Coast', 'Texas',
       'Florida, Louisiana, Alabama, Mississippi',
       'Mississippi, Louisiana, Virginia', 'East', 'Gulf coast',
       'Texas, Louisiana', 'Kalamazoo', 'Nebraska', 'Hawaii',
       'Florida, Panhandle, Georgia',
       'Florida, Arkansas, Kentucky, South Dakota, Iowa, Michgigan, Indianapolis, Missouri',
       'Louisiana, Mississippi, Florida Panhandle', 'Colorado, Texas',
       'Floride', 'South Caroline', 'Texas, Louisiane',
       'North Carolina, Delaware, New York, Richmond, Maine, Rhode Island, Connecticut, Massachusetts, Indiana, Michigan, Ohio, Kentucky',
       'New England, New York, New Jersey',
       'Massachusetts, New York, Rhode Island, New Jersey, Connecticut',
       'Kauai, Nihau, Oahu, Hawai', 'Florida, Louisiana, Bahamas',
       'Majuro ( Marshall Isl.)', 'North Carolina',
       'Minnesota, Kansas, Oklahoma, South Dakota, Texas, Arkansas, Nebraska, Louisiana',
       'Georgia, Michigan, Florida, Alabama',
       'Florida, Georgia, Alabama, North Carolina',
       'Florida, Alabama, Mississipi',
       'North Carolina, South Carolina, Virginia, Maryland, West Virginia, Pennsylvania, Ohio, Washington DC',
       'Louisiana, Alabama, South Carolina, North Carolina',
       'Florida, Mississippi, Alabama, Lousiana',
       'North Carolina, Virginia, South Carolina',
       'North Carolina, Florida, South Carolina, Virginia, Maryland, Pennsylvania, New Jersey, New York, Delaware, Rhode Island, Connecticut, Massachusetts, Vermont',
       'Kennedy county (Texas)', 'Bahamas, Floride',
       'Bahamas, North Carolina, Virginia',
       'Miami-Dade, Monroe, Broward, Collier districts (Florida province)',
       'Texas, Mississippi, Louisiana, Florida, Pennsylvania, South Carolina, North Carolina, Georgia, Pensylvania, New Jersey, Virginia, Iowa provinces',
       'St. Tammany, Terrebonne, Lafayette, Acadia, Evangeline, Rapides districts (Louisiana province)',
       'Louisiane, Mississippi, Alabama, Tennessee provinces',
       'North Carolina, Maryland, Virginia, West Virginia, Delaware, Pennsylvania, New Jersey, District of Columbia provinces',
       'Orleans, St. John the Baptist, Terrebonne, St. Tammany, Tangipahoa districts (Louisiana province), Hancock, Harrison, Jackson, Pike, Walthall districts (Mississippi province), Bay district (Florida province), Mobile, Baldwin, Lee districts (Alabama province), Sumter, Bulloch, Fulton, DeKalb, Cobb, Clayton, Gwinnett districts (Georgia province), Wake district (North Carolina province)',
       'Alabama, Louisiana, Mississippi, Florida, Pennsylvania, Maryland, New Jersey, Ohio, North Carolina, West Virginia, Georgia, Tennessee provinces',
       'Martin, Palm Beach districts (Florida province), North Carolina, South Carolina, Ohio provinces',
       'Richmond, Lynchburg, Chesterfield districts (Virginia province), South Carolina, North Carolina provinces',
       'Bay, Calhoun, Escambia, Franklin, Gadsden, Gulf, Holmes, Jackson, Jefferson, Leon, Liberty, Madison, Okaloosa, Santa Rosa, Taylor, Wakulla, Walton, Washington districts (Florida province), South Carolina, North Carolina provinces',
       'Florida province',
       'Mobile, Bayou La Batre, Dauphin Island, Coden areas (Mobile district, Alabama province), New Orleans city (Orleans district, Louisiana province), Slidell area (St. Tammany district, Louisiana province), St. Bernard district (Louisiana province), Biloxi, Gulfport cities (Harrison district, Mississippi province), Pascagoula city (Jackson district, Mississippi province), Waveland, Bay St. Louis cities (Hancock district, Mississippi province), Georgia, Florida provinces',
       'Florida Keys, Naples areas (Collier district, Florida province)',
       'Louisiana, Texas, Mississippi provinces',
       'Florida, Georgia provinces',
       'South Carolina, North Carolina, Virginia provinces',
       'Texas, Oklahoma, Missouri provinces',
       'Panama city beach (Bay district, Florida province), Aransas, Bexar, Brooks, Calhoun, Cameron, Hidalgo, Jim Wells, Kenedy, Kleberg, Nueces, Refugio, San Patricio, Starr, Victoria, Willacy districts (Texas province)',
       'Florida, Georgia, Alabama, Mississippi provinces',
       'Galveston, Brazoria, Harris, Chambers, Jefferson districts (Texas province), Louisiana, Tennessee, Arkansas, Ohio, Indiana, Illinois, Missouri, Kentucky, Pennsylvania, Michigan provinces',
       'Louisiana, Mississippi, Texas, Alabama provinces',
       'Florida, North Carolina, Maryland provinces',
       'Kent, Sussex districts (Delaware province), Atlantic, Burlington, Cape May, Cumberland, Monmouth, Ocean districts (New Jersey province), Virginia, New York, North Carolina, Pennsylvannia provinces',
       'Maine province',
       'North Carolina, Virginia, Maryland, Massachusetts, Rhode Island provinces',
       'Texas province',
       'New York, New Jersey, Pennsylvania, North Carolina, Virginia, Maryland, District of Columbia, Connecticut, Florida provinces',
       'Louisiana, Mississippi, Alabama, Texas, New York, Pennsylvania, District of Columbia, Georgia, Maryland, Tennessee, Virginia provinces',
       'New York, New Jersey, Pennsylvania, Connecticut, Ohio, Delaware, Rhode Island, Maryland, Massachusetts, Maine, New Hampshire, North Carolina, Vermont, Virginia, District of Columbia, West Virginia provinces',
       'Mississippi, Louisiana provinces',
       'Bay, Calhoun, Escambia, Franklin, Gadsden, Gulf, Holmes, Jackson, Jefferson, Leon, Liberty, Madison, Okaloosa, Santa Rosa, Taylor, Wakulla, Walton, Washington, Brevard, Citrus, Hardee, Hernando, Hillsborough, Indian River, Lake, Manatee, Marion, Orange, Osceola, Pasco, Pinellas, Polk, Seminole, Sumter, Volusia districts',
       'Hawaii province',
       'Georgia, Florida, South Carolina, New York, New Jersey; Cedar Key, Florida, Aurora (North Carolina); Virginia Tidewater region',
       'Florida, Georgia, South Carolina, North Carolina, Virginia provinces',
       'Eastern Texas (Rockport, Corpus Chrsti, Port Lavaca, Cypress area of Houston, Houston metro area, Beaumont, Port Arthur, Angelina, Aransas, Atascosa, Austin, Bastrop, Bee, Bexar, Brazoria, Brazos, Burleson, Caldwell, Calhoun, Cameron, Chambers, Colorado, Comal, DeWitt, Fayette, Fort Bend, Galveston, Goliad, Gonzales, Grimes, Guadalupe, Hardin, Harris, Jackson, Jasper, Jefferson, Jim Wells, Karnes, Kerr, Kleberg, Lavaca, Lee, Leon, Liberty, Live Oak, Madison, Matagorda, Montgomery, Newton, Nueces, Orange, Polk, Refugio, Sabine, San Jacinto, San Patricio, Trinity, Tyler, Victoria, Walker, Waller, Washington, Wharton, Willacy, Wilson, San Augustine), Southwestern Louisiana (Acadia, Forrest, Iberia, Lafayette, Vernon, Beauregard, Calcasieu, Cameron (Hackberry), Jefferson Davis, Vermillion, Allen, Natchitoches, Rapides, Sabine)',
       'Keys islands, Monroe, South Florida, Jacksonville (Duval), Marco Island, Naples (Collier), Fort Lauderdale (Broward), Lakeland (Polk), Orlando (Orange), Clay (Florida), Savannah, Tybee Island (Chatham), Brunswick, St. Simons Island (Glynn), McIntosh, Camden (Georgia), Charleston, Folly Beach, the Isle of Palms, Sullivan’s Island (Charleston) Hilton Head, Beaufort, Edisto Beach (Colleton) (South Carolina)',
       'Jersey shore, Seaside Park, Point Pleasant Beach (Ocean), Long Branch (Monmouth) (New Jersey), Fernandina beach (Nassau-Florida)',
       'Mexico Gulf, Louisiania, Mississippi (coastal areas, Biloxi), Alabama (Dauphin Island, Autauga, Chilton, Lowndes Counties), Florida, South Carolina (Pickens, Laurens, Spartanburg, Newberry, Greenville, Union), North Carolina (Polk, Wilkes, Ashe )',
       'South and North Carolina, Virginia',
       'Florida, Georgia, Alabama, North Carolina, Virginia, Maryland',
       'Southeast',
       'Louisiana, Mississippi, Arkansas, Oklahoma, Great Lakes region',
       'Florida, Georgia, South Carolina, North Carolina, Virginia',
       'Florida, North Carolina, Virginia',
       'Louisiana, Texas, Mississippi, Georgia, North and South Carolina',
       'Alabama, Florida',
       'Louisiana, Mississippi, Alabama, northern Georgia, south and North Carolinas',
       'Louisiana, Texas, Arkansas, Mississippi ',
       'errebonne, Plaquemines, Lafourche Parishes (Louisiana)',
       'North Carolina, South Carolina, New York, Maryland, Delaware, New Jersey, Connecticut, Florida, Virginia, Pennsylvania, New Hampshire',
       'California, Georgia, Florida',
       'Rhode Isl., Connecticut, Vermont, New York, New Jersey states',
       'Louisiana, New York, New Jersey, Maryland, Connecticut, Virginia, Pennsylvania'],
      dtype=object)

### Filter us_storms for regions

In [30]:
from categorizeregion import state_map

from categorizeregion import state_map

def extract_states(location):
    region_abbreviations = {
        'East Coast': 'East Coast',
        'West Coast': 'West Coast',
        'Gulf Coast': 'Gulf Coast',
    }
    if not isinstance(location, str):
        return ''
    
    # Regular expression for recognized regions
    region_pattern = r'\b(?:' + '|'.join(re.escape(region) for region in region_abbreviations) + r')\b'
    
    # First, check if the location matches any of the recognized regions
    found_regions = re.findall(region_pattern, location, re.IGNORECASE)
    if found_regions:
        # Assuming only one region can be mentioned in the location, return the first match
        return region_abbreviations[found_regions[0].title()]
    
    # Regular expression to match state names or abbreviations in various contexts
    pattern = r'\b(?:' + '|'.join(re.escape(s) for s in state_map.keys()) + r')\b'
    
    # Find all matches in the location string
    found_states = re.findall(pattern, location, re.IGNORECASE)
    
    # Convert state names to their abbreviations
    state_abbrs = set()  # Use a set to avoid duplicates
    for state in found_states:
        state_title = state.title()  # Ensure the first letter of each word is uppercase
        if state_title in state_map:
            state_abbrs.add(state_map[state_title])
    
    return ', '.join(sorted(state_abbrs))  # Return a string of unique, sorted abbreviations

# Test the function with examples
location_examples = ['Galveston (Texas)', 'Gainesville (Georgia)', 'Florida',
                     'Mississippi, Alabama, Pensacola', 'Grand Isle (Louisiana)',
                     'Velasco (Texas)', 'Ohio, Indiana, Texas', 'East Coast',
                     'Some city (West Coast)', 'A town in the Gulf Coast region']

for loc in location_examples:
    print(f"{loc} -> {extract_states(loc)}")

Galveston (Texas) -> TX
Gainesville (Georgia) -> GA
Florida -> FL
Mississippi, Alabama, Pensacola -> AL, FL, MS
Grand Isle (Louisiana) -> LA
Velasco (Texas) -> TX
Ohio, Indiana, Texas -> IN, OH, TX
East Coast -> East Coast
Some city (West Coast) -> West Coast
A town in the Gulf Coast region -> Gulf Coast

In [31]:
us_storms['State'] = us_storms['Location'].apply(extract_states)
print(us_storms)

       Year  Seq Glide Disaster Group Disaster Subgroup Disaster Type  \
845    1900    3   NaN        Natural    Meteorological         Storm
866    1906    4   NaN        Natural    Meteorological         Storm
867    1906    5   NaN        Natural    Meteorological         Storm
875    1909    3   NaN        Natural    Meteorological         Storm
876    1909    4   NaN        Natural    Meteorological         Storm
...     ...  ...   ...            ...               ...           ...
16048  2020  219   NaN        Natural    Meteorological         Storm
16049  2020  312   NaN        Natural    Meteorological         Storm
16091  2021  373   NaN        Natural    Meteorological         Storm
16092  2021  531   NaN        Natural    Meteorological         Storm
16093  2021  551   NaN        Natural    Meteorological         Storm

       Disaster Subtype Disaster Subsubtype                   Event Name  \
845    Tropical cyclone                 NaN                          NaN
866    Tropical cyclone                 NaN                          NaN
867    Tropical cyclone                 NaN                          NaN
875    Tropical cyclone                 NaN                          NaN
876    Tropical cyclone                 NaN                          NaN
...                 ...                 ...                          ...
16048  Tropical cyclone                 NaN   Tropical storm 'Cristobal'
16049  Tropical cyclone                 NaN           Hurricane 'Isaias'
16091  Tropical cyclone                 NaN             Hurricane 'Elsa'
16092  Tropical cyclone                 NaN  Tropical depression 'Henri'
16093  Tropical cyclone                 NaN         Tropical storm 'Ida'

                              Country  ... No Homeless Total Affected  \
845    United States of America (the)  ...         NaN            NaN
866    United States of America (the)  ...         NaN            NaN
867    United States of America (the)  ...         NaN            NaN
875    United States of America (the)  ...         NaN            NaN
876    United States of America (the)  ...         NaN            NaN
...                               ...  ...         ...            ...
16048  United States of America (the)  ...         NaN            NaN
16049  United States of America (the)  ...         NaN            NaN
16091  United States of America (the)  ...         NaN            9.0
16092  United States of America (the)  ...         NaN           86.0
16093  United States of America (the)  ...         NaN            NaN

      Insured Damages ('000 US$) Total Damages ('000 US$)         CPI  \
845                          NaN                  30000.0    3.221647
866                          NaN                      NaN    3.479379
867                          NaN                      NaN    3.479379
875                          NaN                      NaN    3.479379
876                          NaN                      NaN    3.479379
...                          ...                      ...         ...
16048                        NaN                 325000.0  100.000000
16049                        NaN                4800000.0  100.000000
16091                        NaN                 775000.0         NaN
16092                        NaN                 550000.0         NaN
16093                        NaN               10000000.0         NaN

      Adm Level                                        Admin1 Code  \
845         NaN                                                NaN
866         NaN                                                NaN
867         NaN                                                NaN
875         NaN                                                NaN
876         NaN                                                NaN
...         ...                                                ...
16048         2                                                NaN
16049         1  3220;3221;3223;3234;3243;3244;3246;3247;3252;3...
16091       NaN                                                NaN
16092       NaN                                                NaN
16093       NaN                                                NaN

      Admin2 Code                                      Geo Locations  \
845           NaN                                                NaN
866           NaN                                                NaN
867           NaN                                                NaN
875           NaN                                                NaN
876           NaN                                                NaN
...           ...                                                ...
16048       29820                                 Lafourche (Adm2).
16049         NaN  Connecticut, Delaware, Florida, Maryland, New ...
16091         NaN                                                NaN
16092         NaN                                                NaN
16093         NaN                                                NaN

                                            State
845                                            TX
866                                            FL
867                                    AL, FL, MS
875                                            LA
876                                            TX
...                                           ...
16048                                          LA
16049  CT, DE, FL, MD, NC, NH, NJ, NY, PA, SC, VA
16091                                  CA, FL, GA
16092                              CT, NJ, NY, VT
16093                  CT, LA, MD, NJ, NY, PA, VA

[132 rows x 46 columns]

In [32]:
print(us_storms[['Location', 'State']].head(10))

                                       Location       State
845                           Galveston (Texas)          TX
866                                     Florida          FL
867             Mississippi, Alabama, Pensacola  AL, FL, MS
875                      Grand Isle (Louisiana)          LA
876                             Velasco (Texas)          TX
883                                     Florida          FL
899  Cavelston (Texas), New Orleans (Louisiana)      LA, TX
906                       Louisiana (Southwest)          LA
908                   Florida Keys, South Texas      FL, TX
930                                   Louisiana          LA

In [33]:
usstorms = us_storms.copy()

In [34]:
from categorizeregion import add_region_column

us_storms = add_region_column(us_storms)

us_storms.to_excel('data/cleanusstorms.xlsx', index=False)
print(us_storms['Region'].value_counts())

Region
Gulf Coast    90
East Coast    26
Other         13
Island         2
West Coast     1
Name: count, dtype: int64

### Follow up later
---
###### Look at regions and consider how to handle storms that impact multiple areas
---